.logo {
  height: 100px;
  width: 100px;
}
.navBar ul {
  display: flex;
  list-style: none;
}
.nav-item {
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.33s;
}
.nav-item:hover {
  color: #4aa3e7d2;
}
